{%- for message in messages %}
  {%- if message.role == 'system' or message.role == 'user' %}
    {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>\n' }}
  {%- elif message.role == 'assistant' %}
    {{- '<|im_start|>assistant\n' + message.content + '<|im_end|>\n' }}
  {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
  {{- '<|im_start|>assistant\n<think>\n</think>\n\n' }}
{%- endif %}
